.dialog{
    width: 451px;
    background: rgba(255, 255, 255, 0.3);
    height: 98vh;
border: 1px solid #FFFFFF;
padding: 20px;
border-radius: 20px 0px 0px 20px;
}
.search  {

display: flex;
column-gap: 15px;
margin-bottom: 30px;

input {
    height: 60px;
    width: 321px;
    border-radius: 10px;
    box-shadow: 0px 4px 21px -6px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
}

svg {
    font-size: 27px;
    color: #3F74F2;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 21px -6px rgba(0, 0, 0, 0.25);
}
}