.menuProfile{
    
.Menu_Logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 50px;
h2  {
  font-weight: 600;
  font-size: 20px;
}
p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}  
}





  .menuCard {
    display: flex;
    column-gap: 13px;
    font-weight: 500;
    font-size: 22px;
    align-items: center;
    margin-bottom: 13px;
svg{
  font-size: 28px;
}

}
  
}

